body{
    background: #ececec; 
}
.live{
    justify-content: center;
    align-items: center;
    padding-left: 590px;
    padding-right: 1px;
    font-weight: bold;

}
.heading{

    padding-left: 35%;
   
    font-weight: bold;
}
ul{
    list-style: none;
}
.cards{
    
    padding-left: 10%;
}
.card{
    background: #9fd3c7;
    height: 150px;
    width: 250px;
    padding: 3%;
    margin: 30px;
}
.card:hover{
    border: 3px solid  #385170;
    font-weight: bolder;
    background-color: rgb(76, 181, 181);
}

.card span{
    padding-left: 50px;
}

.card p{
    font-size: larger;
    color: #142d4c;
}

.card_small{
    justify-content: center;
    align-items: center;
    padding-left: 90px;
    font-style: normal;
    font-weight:  bolder;
}